# Frontend
node_modules/
dist/

# Backend Python
.venv/
venv/
__pycache__/
*.pyc

# Variáveis de ambiente
.env
.env.*
!.env.example
!**/.env.example

# Editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
